<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <% person.map((std)=> { %>
                <tr>
                    <td>
                        <%= std.id %>
                    </td>
                    <td>
                        <%= std.name %>
                    </td>
                    <td>
                        <%= std.age %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <% person.map((std)=> { %>
        <h1>
            <%= std.id %> | <%= std.name %> | <%= std.age %>
        </h1>
        <% }) %>

</body>

</html>